:root {
  --clr-1: #0c1022;
}

body {
  background: var(--clr-1);
  place-content: center;
    margin-top: 56px;
    margin-left: 200px;
    margin-right: 200px;
}

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo{
    align-self: flex-start;
    width: 70px;
    height: 70px;
    opacity: 1;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s;
}

.logo .glowing-cricle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo .glowing-cricle::after {
    content: '';
    position: absolute;
    width: 65px;
    height: 65px;
    background: #0c1022;
    border-radius: 50%;
}

.glowing-cricle .header-logo {
    position: relative;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.header-logo img {
    position: absolute;
    left: 50%;
    height: 65px;
    transform: translateX(-50%);
    max-width: 150px;
    object-fit: cover;
    background: transparent;
    zoom: 90%;
    margin-top: 5px;
}

.glowing-cricle span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f06, #3cf);
    border-radius: 50%;
    animation: circleRotate 5s linear infinite;
}

.glowing-cricle span:nth-child(1) {
    filter: blur(40px);
}

@keyframes floatImage {
    0% {
        transform: translateY(-24px);
    }
    50% {
        transform: translateY(24px);
    }
    100% {
        transform: translateY(-24px);
    }
}

@keyframes circleRotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

header h1 {
  text-decoration: none;
  text-transform: uppercase;
  color: #0c1022;
  font-family: "Clash Display";
  font-size: 50px;
    font-weight: 500;
  position: absolute;
    -webkit-text-stroke: 1px #383d52;
    left: 50%;
    transform: translateX(-50%);
}

header h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: transparent; /* Change color to transparent */
    -webkit-text-stroke: 0 #383d52;
    border-right: 2px solid #3cf; /* Change border-right color to transparent */
    overflow: hidden;
    animation: ride 4s linear infinite;
    background: linear-gradient(90deg, #f06, #3cf); /* Add linear gradient background */
    -webkit-background-clip: text; /* Clip background over text */
}

@keyframes ride {
  0%,10%,100% {
      width: 0;
  }
  70%,90% {
      width: 100%;
  }
}

.header-btn {
    display: inline-flex;
    height: 60px;
    width: 200px;
    justify-content: center;
    align-items: center;
  color: white;
  border-radius: 60px;
  border: 0;
  background: linear-gradient( 90deg, #f06, #3cf);
  cursor: pointer;
    font-family: "Clash Display Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    position: relative;
}

.header-btn::before {
    position: absolute;
    content: "";
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: inherit;
    filter: blur(60px);
    z-index: -1;
    border-radius: 60px;
}

@media screen and (max-width: 650px) {
  .header__button {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .container_mais_pas_de_tailwind {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

@font-face {
  font-family: "Clash Display";
  src: url("./fonts/ClashDisplay-Variable.woff2") format("woff2-variations"), url("./fonts/ClashDisplay-Variable.woff2") format("woff2") tech("variations");
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cloud--wraper{
    width: 500px;
    height: 350px;
    background-image: url('images/background-shapeV3.gif');
    background-position: center;
    background-size: 150%;
    border-radius: 60px;
    margin: auto;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    align-self: flex-end;
    font-family: "Clash Display";
    max-width: 500px;
    color: white;
}

.main p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
    font-family: "Clash Display";
    color: white;
    text-align: center;
}

.cloud-gb {
	width: 100%;
	height: 350px;
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    backdrop-filter: blur(20px);
}

.cloud::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #000000;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}

.cloud.active:hover::before {
	opacity: 1;
}

.upload{
    width: 100%;
    height: 70%;
}

.upload-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.upload-input label{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-input label img{
    width: 100px;
}

.no {
    display: block;
    text-align: center;
    white-space: nowrap;
}

.yes {
    display: none;
}

#video_uploads {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.upload-btn {
    display: block;
    width: 200px;
    padding: 16px 0;
    border-radius: 15px;
    font-weight: 500;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    font-family: "Clash Display";
    background: linear-gradient( 90deg, #f06, #3cf);
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 70%;
}

.upload-btn::before {
    position: absolute;
    content: "";
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: inherit;
    filter: blur(30px);
    z-index: -1;
    border-radius: 10px;
}

.upload-btn.left {

    left: 20px;
}

.upload-btn.right {
    right: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
}

#carousel {
    position: relative;
    margin-top: 50px;
    max-width: 1000px;

}

.btn_back img,.btn_next img {
    width: 100%;
    height: 100%;
    fill: #0c1022;
}

.btn_back, .btn_next {
    display: inline-flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%; /* rend le bouton rond */
    border: 0;
    background: linear-gradient( 90deg, #f06, #3cf);
    cursor: pointer;
    font-family: "Clash Display Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}

.btn_back {
    left: -70px;
}
.btn_next {
    right: -70px;
}

.btn_back::before, .btn_next::before {
    position: absolute;
    content: "";
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: inherit;
    filter: blur(30px);
    z-index: -1;
    border-radius: 50%;
}
.btn_back img, .btn_next img {
    border-radius: 50%;
}

video {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
}

#carousel {
    position: relative;
}

.item{
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none; /* pour Firefox */
    -ms-overflow-style: none;
}

.item::-webkit-scrollbar {
    display: none; /* pour Chrome, Safari et Opera */
}

