:root {
  --clr-1: #0c1022;
}

body {
  background: var(--clr-1);
  place-content: center;
}

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

video {
    width: 640px;
    height: 360px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.all-in-one_logo{
    align-self: flex-start;
    width: 70px;
    height: 70px;
    opacity: 1;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s;
}

.all-in-one_logo .glowing-cricle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-in-one_logo .glowing-cricle::after {
    content: '';
    position: absolute;
    width: 65px;
    height: 65px;
    background: #0c1022;
    border-radius: 50%;
}

.glowing-cricle .header__logo {
    position: relative;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.header__logo img {
    position: absolute;
    left: 50%;
    height: 65px;
    transform: translateX(-50%);
    max-width: 150px;
    object-fit: cover;
    background: transparent;
    zoom: 90%;
    margin-top: 5px;
}

.glowing-cricle span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f06, #3cf);
    border-radius: 50%;
    animation: circleRotate 5s linear infinite;
}

.glowing-cricle span:nth-child(1) {
    filter: blur(40px);
}

@keyframes floatImage {
    0% {
        transform: translateY(-24px);
    }
    50% {
        transform: translateY(24px);
    }
    100% {
        transform: translateY(-24px);
    }
}

@keyframes circleRotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.header__h1 {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;

  font-family: "Clash Display";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;

  line-height: normal;

  position: relative;

    width: fit-content;
}

.header__h1:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 4px;
  background: linear-gradient( 90deg, #f06, #3cf);
  animation: slide-in 0.8s linear infinite;
  border-radius: 60px;
    margin-top: 3px;
}

.header__h1::after{
    filter: blur(3px);
}

@keyframes slide-in {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}

.header__button {
    display: inline-flex;
    height: 60px;
    width: 200px;
    justify-content: center;
    align-items: center;
  color: white;
  border-radius: 60px;
  border: 0;
  background: linear-gradient( 90deg, #f06, #3cf);
  cursor: pointer;
    font-family: "Clash Display Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    position: relative;
}

.header__button::before {
    position: absolute;
    content: "";
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: inherit;
    filter: blur(60px);
    z-index: -1;
    border-radius: 60px;
}

@media screen and (max-width: 650px) {
  .header__button {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .container_mais_pas_de_tailwind {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

body {
  margin-top: 56px;
  margin-left: 200px;
  margin-right: 200px;
}

.container_mais_pas_de_tailwind {
  width: 100%;
  display: flex;
  flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

@font-face {
  font-family: "Clash Display";
  src: url("./fonts/ClashDisplay-Variable.woff2") format("woff2-variations"), url("./fonts/ClashDisplay-Variable.woff2") format("woff2") tech("variations");
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__container_of_cloud{
    width: 500px;
    height: 350px;
    background-image: url('images/background-shapeV3.gif');
    background-position: center;
    background-size: 150%;
    border-radius: 60px;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    align-self: flex-end;
    font-family: "Clash Display";
}

.main__container_of_cloud__video_area{
    backdrop-filter: blur(20px);
}

.main__p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
    font-family: "Clash Display";
    color: white;
    text-align: center;
}

.main__container_of_cloud {
  max-width: 500px;
	width: 100%;
	border-radius: 30px;
  position: relative;
    color: white;
}

.main__container_of_cloud__video_area {
	width: 100%;
	height: 350px;
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  position: relative;
}

.main__container_of_cloud__video_area .icon {
	font-size: 100px;
}

.main__container_of_cloud__video_area__h1 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}

.main__container_of_cloud__video_area__p {

}

.main__container_of_cloud__video_area__p__span {
	font-weight: 600;
}

.main__container_of_cloud__video_area video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}

.main__container_of_cloud__video_area::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #000000;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}

.main__container_of_cloud__video_area.active:hover::before {
	opacity: 1;
}

.main__container_of_cloud__video_area__form__submit {
	display: block;
	width: 100%;
	padding: 16px 0;
	border-radius: 15px;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
    font-family: "Clash Display";
    background: linear-gradient( 90deg, #f06, #3cf);
    color: white;
    text-transform: uppercase;
    position: relative;
}

.main__container_of_cloud__video_area__form__submit::before {
    position: absolute;
    content: "";
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: inherit;
    filter: blur(30px);
    z-index: -1;
    border-radius: 10px;
}

#carousel {
    position: relative;
    margin-top: 50px;
    max-width: 1000px;
}

.btn_back img {
    width: 100%;
    height: 100%;
}

.btn_next img {
    width: 100%;
    height: 100%;
}

.btn_back, .btn_next {
    display: inline-flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%; /* rend le bouton rond */
    border: 0;
    background: linear-gradient( 90deg, #f06, #3cf);
    cursor: pointer;
    font-family: "Clash Display Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}

.btn_back {
    left: -70px;
}
.btn_next {
    right: -70px;
}

.btn_back::before, .btn_next::before {
    position: absolute;
    content: "";
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: inherit;
    filter: blur(30px);
    z-index: -1;
    border-radius: 50%;
}
.btn_back img, .btn_next img {
    border-radius: 50%;
}

video {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
}

#carousel {
    position: relative;
}

.item{
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
}