@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --clr-1: #0c1022;
}

body {
  background: var(--clr-1);

  place-content: center;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

video {
    width: 640px;
    height: 360px;
}

.header {
    display: flex;

    justify-content: space-between;
    position: relative;
}

.all-in-one_logo{
    width: 145px;
    height: 145px;

    opacity: 1;

    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2.1s, 3,1s;
}

.all-in-one_logo .glowing-cricle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-in-one_logo .glowing-cricle::after {
    content: '';
    position: absolute;
    width: 135px;
    height: 135px;
    background: #0c1022;
    border-radius: 50%;
}

.glowing-cricle .header__logo {
    position: relative;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.header__logo img {
    position: absolute;
    left: 50%;
    height: 135px;
    transform: translateX(-50%);
    max-width: 150px;
    object-fit: cover;
    background-color: var(--clr-1);
}

.glowing-cricle span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f06, #3cf);
    border-radius: 50%;
    animation: circleRotate 5s linear infinite;
}

.glowing-cricle span:nth-child(1) {
    filter: blur(40px);
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes circleRotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.header__nav {
  display: flex;
  justify-content: center;
}
  
.header__nav__ul {
  display: block;

  transform: translateY(1000px);

  position: relative;

  overflow: hidden;

  animation: 0.9s titleAnimation cubic-bezier(0.91, 0.14, 0.56, 1.09) forwards;
}
  
@keyframes titleAnimation {
  to {
    transform: initial;
  }
  }

.header__nav__ul {
  display: flex;

  list-style: none;

  justify-content: center;
}
  
.header__nav__ul__li {
  display: flex;

  align-items: center;
  justify-content: center;
}
  
.header__nav__ul__li__a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;

  font-family: "Clash Display";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
    
  line-height: normal;

  position: relative;

}

.header__nav__ul__li__a:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 3px;
  background: linear-gradient( 90deg, #f06, #3cf);
  animation: slide-in 0.8s linear infinite;
  border-radius: 60px;

  filter: blur(2px);
}

@keyframes slide-in {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}

.header__button {
    display: inline-flex;
    height: 60px;
    width: 260px;
    justify-content: center;
    align-items: center;
  color: white;
  border-radius: 60px;
  border: 0;
  background: linear-gradient( 90deg, #f06, #3cf);
  cursor: pointer;
    font-family: "Clash Display Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    position: relative;
}

.header__button::before {
    position: absolute;
    content: "";
    top: -10px; /* Adjust these values */
    left: -10px; /* Adjust these values */
    right: -10px; /* Adjust these values */
    bottom: -10px; /* Adjust these values */
    background: inherit;
    filter: blur(60px);
    z-index: -1;
    border-radius: 60px;
}
  
@media screen and (max-width: 650px) {
  .header__vav {
    display: none;
  }
  .header__button {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

body {
  margin-top: 56px;
  margin-left: 200px;
  margin-right: 200px;
}
  
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
  
@font-face {
  font-family: "Clash Display";
  src: url("./fonts/ClashDisplay-Variable.woff2") format("woff2-variations"), url("./fonts/ClashDisplay-Variable.woff2") format("woff2") tech("variations");
}

.main__p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
    font-family: "Clash Display";
    color: white;
    text-align: center;
}

.main__container_of_cloud {
  max-width: 900px;
	width: 100%;
	background: #fecd28;
	padding: 30px;
	border-radius: 30px;
  position: relative;
}

.main__container_of_cloud__video_area {
	width: 100%;
	height: 700px;
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  position: relative;
}

.main__container_of_cloud__video_area .icon {
	font-size: 100px;
}

.main__container_of_cloud__video_area__h1 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}

.main__container_of_cloud__video_area__p {
	color: #000000;
}

.main__container_of_cloud__video_area__p__span {
	font-weight: 600;
}

.main__container_of_cloud__video_area video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}

.main__container_of_cloud__video_area::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #000000;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}

.main__container_of_cloud__video_area.active:hover::before {
	opacity: 1;
}

.main__container_of_cloud__video_area__form__submit {
	display: block;
	width: 100%;
	padding: 16px 0;
	border-radius: 15px;
	background: var(--blue);
	color: #000000;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;

}